.Rproj.user
.Rhistory
.RData
.Ruserdata
code/Rmd/07_Rmd-deep-dive_files/figure-latex/rd-plot-1.pdf
code/Rmd/07_Rmd-deep-dive_cache/latex/__packages
code/Rmd/07_Rmd-deep-dive_cache/latex/example-number_2f73878510c493aeaa9b14bb87c4be9d.RData
code/Rmd/07_Rmd-deep-dive_cache/latex/example-number_2f73878510c493aeaa9b14bb87c4be9d.rdb
code/Rmd/07_Rmd-deep-dive_cache/latex/example-number_2f73878510c493aeaa9b14bb87c4be9d.rdx
code/Rmd/07_Rmd-deep-dive_cache/latex/here_0eeab6b883bff90d44b16c11cea6c383.RData
code/Rmd/07_Rmd-deep-dive_cache/latex/here_0eeab6b883bff90d44b16c11cea6c383.rdb
code/Rmd/07_Rmd-deep-dive_cache/latex/here_0eeab6b883bff90d44b16c11cea6c383.rdx
code/Rmd/07_Rmd-deep-dive_cache/latex/rd-plot_fdd82182d6c93da6bd4662e9df55f11c.RData
code/Rmd/07_Rmd-deep-dive_cache/latex/rd-plot_fdd82182d6c93da6bd4662e9df55f11c.rdb
code/Rmd/07_Rmd-deep-dive_cache/latex/rd-plot_fdd82182d6c93da6bd4662e9df55f11c.rdx
code/Rmd/07_Rmd-deep-dive_cache/latex/rd-table-latex_b1b70f925beca07ae67e43bc30084bbb.RData
code/Rmd/07_Rmd-deep-dive_cache/latex/rd-table-latex_b1b70f925beca07ae67e43bc30084bbb.rdb
code/Rmd/07_Rmd-deep-dive_cache/latex/rd-table-latex_b1b70f925beca07ae67e43bc30084bbb.rdx
code/Rmd/07_Rmd-deep-dive_cache/latex/read-data_8e51d0536a1d8fcaaece91230b60b036.RData
code/Rmd/07_Rmd-deep-dive_cache/latex/read-data_8e51d0536a1d8fcaaece91230b60b036.rdb
code/Rmd/07_Rmd-deep-dive_cache/latex/read-data_8e51d0536a1d8fcaaece91230b60b036.rdx
code/Rmd/07_Rmd-deep-dive_cache/latex/unnamed-chunk-2_2278776c79a21fdeb13b03957a1091e7.RData
code/Rmd/07_Rmd-deep-dive_cache/latex/unnamed-chunk-2_2278776c79a21fdeb13b03957a1091e7.rdb
code/Rmd/07_Rmd-deep-dive_cache/latex/unnamed-chunk-2_2278776c79a21fdeb13b03957a1091e7.rdx
code/Rmd/07_Rmd-deep-dive_cache/latex/unnamed-chunk-3_abf638353ac9747c1172fdd655e35645.RData
code/Rmd/07_Rmd-deep-dive_cache/latex/unnamed-chunk-3_abf638353ac9747c1172fdd655e35645.rdb
code/Rmd/07_Rmd-deep-dive_cache/latex/unnamed-chunk-3_abf638353ac9747c1172fdd655e35645.rdx
code/Rmd/07_Rmd-deep-dive_cache/latex/wd_0a1b3b85418c194f8a94feb02432aebe.RData
code/Rmd/07_Rmd-deep-dive_cache/latex/wd_0a1b3b85418c194f8a94feb02432aebe.rdb
code/Rmd/07_Rmd-deep-dive_cache/latex/wd_0a1b3b85418c194f8a94feb02432aebe.rdx
code/Rmd/07_Rmd-deep-dive.tex
code/Rmd/07_Rmd-deep-dive.log
